<form [formGroup]="createImageForm">
    <fieldset>
        <legend>Post</legend>
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label">
                Title
            </label>
            <div class="col-sm-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa fa-user"></i></div>
                    </div>
                    <input [ngClass]="{'is-invalid': isSubmitted && createImageForm.controls.title.errors}" formControlName="title"
                        type="text" class="form-control" id="title" placeholder="Enter Title">
                </div>
            </div>
            <div class="col-sm-4">
                <div *ngIf="isSubmitted && createImageForm.controls.title.errors && createImageForm.controls.title.errors.required"
                    class="error">
                    Title is required.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="image_post" class="col-sm-3 col-form-label">
                Image
            </label>
            <div class="col-sm-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa fa-user"></i></div>
                    </div>
                    <input [ngClass]="{'is-invalid': isSubmitted && createImageForm.controls.image_post.errors}" formControlName="image_post"
                        type="file" class="form-control" id="image_post" placeholder="Upload Image">
                </div>
            </div>
            <div class="col-sm-4">
                <div *ngIf="isSubmitted && createImageForm.controls.image_post.errors && createImageForm.controls.image_post.errors.required"
                    class="error">
                    Image is required.
                </div>
            </div>
        </div>


        <div class="form-group footer">
            <div style="float:right;">
                <button type="submit" class="btn btn-primary float-button" (click)="save()">Save</button>
            </div>
        </div>
    </fieldset>
</form>