<div class="custom-container">
  <div *ngFor="let newFeed of newsFeeds">
    <div class="card card-margin custom-card-color">
      <div class="card-header bg-info text-white">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span style="margin-left:10px;">{{newFeed.created_by.email}}</span>
      </div>
      <div class="card-body">
          <h4 class="card-title">{{newFeed.postable[newFeed.postable.type].title}}</h4>
          <div *ngIf="newFeed.postable.type=='post'">
              <h6>{{newFeed.postable.post.description}}</h6>
          </div>
          <div *ngIf="newFeed.postable.type=='image'">
              <img src="{{apiEndPoint}}/{{newFeed.postable.image.image_url}}" alt="Image" style="height: 200px;">
          </div>
      </div>
    </div>
  </div>
</div>